<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images|test.php" />
                    <action type="None" />
                </rule>
                <rule name="Rewrite CI Index">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html|swf|woff|ttf|svg|eot" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
          <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
          <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent> 
        
    </system.webServer>
    <system.net>
       <mailSettings>
          <smtp from="soporte@solocanchas.com">
             <network host="webmail.solocanchas.com" password="gsavtecno" port="25" userName="soporte@solocanchas.com"/>
          </smtp>
       </mailSettings>
    </system.net>
</configuration>